html{
    overflow-x: hidden;
}
.body{
    margin: 0%;
    padding: 0;
    overflow-x: hidden;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav a{
    background-color: (156, 106, 202);
    border-radius: 3%;  
    color:#9E9D9D;
    text-decoration: none;
    padding: 3%;
    
}
.searchnav input{
    width: 100%;
}
.animado{
    opacity: 10%;
    transition: all 1s;
}
.buscarbarranav{
    margin-right: 5%;
}
.titulo{
    min-height: 100vh;
    position: relative;
}
video{
    position: absolute;
    top: -6%;
    left: 0;
    bottom: -5%;
    width: 100%;
    object-fit: cover;
    opacity: 80%;
}
.videoresponsive{
    display: none;
    position: absolute;
    top: -6%;
    left: 0;
    bottom: -5%;
    width: 100%;
    object-fit: cover;
}
.slide{
    background-color: white;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background:black ;
    opacity: 0.5;
    mix-blend-mode: overlay;
}
.logo{
    width: 35%;
}
.offcanvas-end{
    margin-right: 5%;
}
.offcanvas-title{
    width: 50%;
}
.buscadorbarranav{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.botonsearch {
    background-color: rgb(73, 140, 142);
    border-color: rgb(130, 207, 210);;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.seccionesfauvismo a:hover{
    background-color: rgb(130, 207, 210);
    border-radius: 4%;  
}
.menu a:hover{
    background-color:rgb(165, 234, 101);
}
.imgppal img{
    margin-top: 5%;
    width: 100%;
    animation-name: imgppal;
    animation-duration: 2s;
}
.textohome h1{
    background-color: white;
    color: cadetblue;
    font-size: 70px;
    font-family: 'Square Peg', cursive;
    text-align: center;
}
.imgppalresposive{
    display: none;
}
@keyframes imgppal {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
    
}
.homestrong{
    color: rgb(232, 149, 42);
}
.pinceladauno img{
    width: 20%;
}
.pinceladados img{
    width: 20%;
}
.textohome p{
    width: 70%;
    margin-left: 15%;
}
.imgshome img{
    width: 100%;
    transition: 1s;
    overflow-x: hidden;
}
.imgshome img:hover{
    width: 105%;
    opacity: 20%;
}
.textosimgs h1{
    font-family: 'Square Peg', cursive;
}
.textosimgs h3{
    font-size: 25px;;
}
.textosimgs a{
    text-decoration: none;
}
.txtuno a{
    color:cadetblue;
    transition: 1s;
}
.txtuno a:hover{
    background-color: cadetblue;
}
.txtdos a{
    color: black;
    transition: 1s;
}
.txtdos a:hover{
    background-color: rgb(81, 79, 79);
}
.txttres a{
    color: orange ;
    transition: 1s;
}
.txttres a:hover{
    background-color:orange ;
}
.txtuno a:hover, .txtdos a:hover, .txttres a:hover{
    opacity: 80%;
    color: white;
    border-radius: 3px;
    transform: scale(1.1);
}
.footersitio a{
    margin-top: 10%;
}

/* buscador y derain*/
.strongderain{
    color: rgb(110, 162, 58);
    font-size: 18px;;
}
.barquito img{
    display: block;
    width: 100%;
    left:0%;
    position: relative;
    top: 10%;
}
.buscador{
    overflow: hidden;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    font-size: 10px;;
    margin-top: 5%;
}
.buscar input{
    padding: 9px 10px 9px 32px;
    width: 4%;
    border-radius: 15px;
    outline: none;
    border: 3px solid #7F44AA;
    background: #fff url("..//imgs/search.icon.png") no-repeat 7px center;
    transition: all 2s;
}
.buscar input:hover{
    width:70%;
    background-color: #fff;
    border-color: rgb(11, 68, 182);
}
.buscar h2{
    font-size: 20px;
}

.buscar input:hover{
    width:20%;
    background-color: #fff;
    border-color: rgb(11, 68, 182);
}
.derainimg{
width: 65%;
}
.autoretrato{
    width: 40%;
    position: relative;
    margin-left: 80%;
    margin-top: -80%;
}
.pinceladaderain{
    width: 100%;
    position: relative;
    margin-top: -15%;
    margin-left: -10%;
}
.pinceladaderaindos{
    width: 60%;
    position: relative;
    margin-top: -40%;
    margin-left: 75%;
}
.pinceladaderaintres{
    width: 50%;
    position: relative;
    margin-left: 10%;
    margin-top: -8%;
    animation-name: movimientopincelada;
    animation-duration: 2s;
}
@keyframes movimientopincelada {
    0%{
        margin-left: -5%;
    }
    100%{
        margin-left: 10%;
    }
    
}
.txtandrederain, .txtandrederaindos{
    margin-left: 2%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.txtandrederain h1{
    font-family: 'Square Peg', cursive;
    font-size: 70px;   
}
.txtandrederaindos{
    padding-top: -5%;
    padding-left: 5%;
}
.pinceladaderaincuatro{
    width: 20%;
}
.obrasderain img{
    width: 100%;
}
.obrasderain img:hover{
    width: 105%;
    transition: 1s;
    opacity: 60%;
}

/* historia */
.imgshistoria{
    margin-top: 6%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1%;
    border: solid 8px rgb(223, 171, 87);
}
.contextouno{
    width: 68%;
}
.contextodos{
    width: 33.7%;
    position: absolute;
    margin-left: 53.5%;
    animation-name: contextodos;
    animation-duration: 2s;
}
@keyframes contextodos {
    0%{
        margin-left: 0%;
    }
    100%{
        margin-left: 53.5%;
    }
}
.pinceladahistoria, .pinceladahistoriados{
    width: 150%;
    margin-top: 60%;
    margin-left: -10%;
    transform: rotate(90deg);
}
.pinceladahistoriados{
    margin-top:150% ;
}

/* filosofia */
.gifs h1{
    font-family: 'Square Peg', cursive;
    color: rgb(164, 196, 36);
    font-size: 70px;
}
.gifs h1 span{
    position: relative;
}
.gifs h1 span::after{
    content: "";
    position: absolute;
    left: 0%;
    background:rgb(255, 255, 255);
    height: 90%;
    width: 100%;
    border-left: 2px solid rgb(164, 196, 36);
    animation: escribiendo 3s steps(8) infinite;
}
@keyframes escribiendo{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
.imgsfilosofia img{
    width: 100%;
}
.textofilosofia p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2%;
}
.textoitalic{
    font-size: 40px;
    color: rgb(164, 196, 36);
    font-family: 'Square Peg', cursive;
}
.titulofilosofia{
    color: rgb(164, 196, 36);
    font-size: 40px;
}
/* galeria */
.galeria{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.obrasresponsive{
    display: none;
}
.obrasnoresponsive{
    display: block;
}
.galeria h1{
    font-family: 'Square Peg', cursive;
    font-size: 70px;
}
.titulogaleria{
    margin-top: 10%;
}
.mujerconsombrero h3, .laventanaabierta h3{
    font-family: 'Square Peg', cursive;
    margin-bottom: 10%;
    background-color: rgb(48, 188, 195);;
    font-size: 50px;
}
.laventanaabierta h5, .mujerconsombrero h5{
    margin-top: -10%;
    font-size: 25px;
    font-family: 'Square Peg', cursive;
}
.mujerconsombrero h4, .laventanaabierta h4{
    color:  rgb(48, 188, 195);
    font-size: 20px;
}
.laventanaabierta{
    margin-left: -14%;
}
.laventana img{
    width: 60%;
}
.carasimg img, .parabrisasimg img{
    width: 70%;
    margin-left: 15%;
}
/* exposiciones */
.exposicion{
    justify-content: center;
    text-align: center;
}
.exposicion a{
    text-decoration: none;
    background-color: cadetblue;
    color: white;
    border-radius: 5px;
    padding: 1%;
    text-align: end;
}
.nombremuseo{
    color: cadetblue;
    font-size: 40px;
    font-family: 'Square Peg', cursive;
}
.exposicion a:hover{
    background-color: rgb(214, 209, 209);
    color: cadetblue;
    transition: 0.5s;
}
.textoexposiciones{
    color: rgb(119, 56, 138);
    color: white;
    position: absolute;
    z-index: 2;
}
.textoexposiciones h1, .textoexposiciones h3{
    color:  rgb(119, 56, 138);
}
.surrealismo{
    font-family: 'Square Peg', cursive;
    font-size: 70px;
}
.descripcion{
    background-color: cadetblue;
    position: relative;
    z-index: 2;
    width: 70%;
    margin-left: 15%;
}
.descripcion h1{
    margin-top: 40%;
    font-size: 20px;
}
.descripcion p, .descripcion h1{
    color:white;
    width: 70%;
    margin-left: 15%;
    padding: 2%;
}
.descripcion p{
    font-size: 18px;
}
.museoimgs img{
    width: 100%;
}
.museoimgs img{
    border: solid 15px  cadetblue;
}
/* contacto */
.contactanos h3{
    font-family: 'Square Peg', cursive;
    color: rgb(165, 69, 143);
    font-size: 70px;
}
.formulario{
    margin-top: 20%;
    border: solid 3px rgb(165, 69, 143);
}
.formulario input{
    border: solid 3px rgb(165, 69, 143);
    border-radius: 5px;
}
.card-body{
    border: solid 3px rgb(165, 69, 143);
    border-radius: 5px;
}

/* dispositivo pequeño */
@media(max-width: 480px){
.imgppal img{
    display: none;
}
.imgppalresposive{
    display:block ;
}
.imgppalresposive img{
    width: 100%;
    margin-top: 20%;
}
.animado {
    opacity: 30%;
}
.navbar-header{
    width: 50%;
}
.navbar-header img{
    width: 80%;
}
.pinceladauno img{
    width: 50%;
}
.pinceladados img{
    width: 50%;
}
.textosimgs a{
    font-size: 40px;;
}
.imgshistoria{
    margin-top: 20%;
    display: block;
    justify-content: center;
    padding-bottom: 4%;
    padding-top: 4%;
    border: solid 8px rgb(223, 171, 87);
}
.contextouno{
    width: 90%;
    margin-left: 5%;
}
.contextodos{
    width:90%;
    position: relative;
    margin-left: 5%;
    animation-name: contextodos;
    animation-duration: 2s;
}
@keyframes contextodos {
    0%{
        margin-top: -53%;
    }
    100%{
        margin-top: 0%;
    }
}
.pinceladahistoria, .pinceladahistoriados{
    width: 300%;
    margin-top: 60%;
    margin-left: -20%;
    transform: rotate(90deg);
}
.pinceladahistoria{
    margin-top: 10%;
    margin-left: 280%;
    transform: rotate(-180deg);
}
.pinceladahistoriados{
    display: none;
}
.exposicion{
    width: 65%;
    margin-left: 17.5%;
}
.exposicion h6{
    text-align: center;
}
/* artistas */
.autoretrato{
    width: 70%;
    position: relative;
    display: block;
    margin-left: 15%;
    margin-top: 5%;
}
.pinceladaderaindos{
    width: 80%;
    position: relative;
    margin-top: -12%;
    margin-left: 20%;
}
.obrasderain img{
    width: 110%;
    padding-top:2% ;
}
.pinceladaderaincuatro{
    width: 50%;
}
.pinceladahistoria{
   display: none;
}
/* galeria */
.obrasresponsive{
    display: block;
}
.obrasnoresponsive{
    display: none;
}
.laventanaabierta img, .mujerconsombrero img{
    width: 80%;
}
/* historia */
.imgshistoria{
    border: solid 8px rgb(223, 171, 87);
    padding-right: -2%;
}
/* exposicion */
video{
    margin-top: 20%;
}
.descripcion{
    margin-top: 45%;
    width: 95%;
    margin-left: 2.5%;
}
}